.form_container {
    width: 400px;
    background: linear-gradient(#212121, #212121) padding-box,
        linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 40px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    margin-top: 10px;
    width: 50%;
    margin: auto;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form_container button:active {
    scale: 0.95;
}

.form_container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_container .form_group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form_container .form_group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}

.form_container .form_group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}

.form_container .form_group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}

.form_container .form_group input::placeholder {
    opacity: 0.5;
}

.form_container .form_group input:focus {
    outline: none;
    border-color: #e81cff;
}

.form_container .form_group textarea:focus {
    outline: none;
    border-color: #e81cff;
}

.form_container .form_submit_btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.form_container .form_submit_btn:hover {
    background-color: #fff;
    border-color: #fff;
}